{% if record.document_content %}
    <p>Transcribed</p>
    <span class="text-success fas fa-check"></span>
    {% else %}
    <p>Not Transcribed</p>
    <span class="text-danger fas fa-ban"></span>
{% endif %}