{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {%  for file in files %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ file }}</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div>
{% endblock %}