{% extends 'base.html' %}
{%  load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}

  <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">



              <h3 class="card-title">Document Files Created</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% if filter %}
                <form action="" method="get" class="form form-inline m-2">
{#                    {% bootstrap_form filter.form layout='inline' %}#}
{#                    {% bootstrap_button 'Search' %}#}
                {{ filter.form|crispy }}
                </form>
                {% endif %}
              {% render_table table %}
            </div>
            <!-- /.card-body -->
          </div>
        </div>
  </div>
 {% include 'file/return_file_modal.html' %}
{% endblock content %}

{% block js %}
<script src="{% static 'return_actions/modal.js' %}"></script>
{% endblock %}