
{% load app_extras %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
              {{ record.id |get_actions_file }}
                <div role="separator" class="dropdown-divider"></div>
                <a href="{% url 'inspect' record.pk %}" class="btn btn-sm bg-cyan btn-block">Open</a>
        </div>





