{% extends 'base.html' %}
{% load static %}
{% load app_extras %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}

         <div class="row">
        <div class="col-12">
    <div class="card">
           <div class="card-header">
                <h3 class="card-title">Files for this batch</h3>


               <div class="card-tools">
{% if  batch_type == 'PREPARE_DIGITIZATION'  and "app.can_register_batch" in perms %}
               <a href="{% url 'add_files_to_batch' batch_id %}" class="btn btn-info">
                   Add Existing files to this batch
               </a>
    {% elif batch_type == 'PREPARE_FLAGGING' and "app.can_receive_file" in perms%}
     <a href="{% url 'add_files_to_batch' batch_id %}" class="btn btn-info">
                   Add Files to Escalate
               </a>
               {% endif %}

                   {% if 'app.can_register_batch' in perms and  batch_type == 'PREPARE_DIGITIZATION' %}
                    <a href="{% url 'create_document_file' batch_id %}" class="btn btn-primary">Add New File</a>
                    {% endif %}
                </div>

              </div>
            <!-- /.card-header -->
            <div class="card-body">
            <div class="row" id="action_row" style="display: none">
                <div class="col-md-4">

            <form action="{% url 'receiver_submit_batch' batch_id %}" method="post"  id="form_data">
                    {% csrf_token %}
                    <!-- Default unchecked -->


<!-- Default checked -->
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                        <button class="btn btn-success"  type="submit"> Accept</button>
                        </div>
                    </div>
                    <input type="hidden" name="is_reject" value="nothing">
                    <div class="col-md-6">
                        <button class="btn btn-danger" onclick="check()" type="button"> Reject</button>
                    </div>
                </div>

                    <div class="form-group green-border-focus" style="display: none" id="desc">

  <textarea class="form-control" id="exampleFormControlTextarea5" rows="3" placeholder="reason for reject" name="desc"></textarea>
</div>
                     <div class="form-group">
                        <button type="submit"  id ="btn_submit" class="btn btn-primary btn-block" style="display: none">Submit</button>
                    </div>
                </form>
                </div>
            </div>
                 {% if filter %}
                <form action="" method="get" class="form form-inline m-2">
                {{ filter.form | crispy }}
                    <input type="submit" class="btn btn-default btn-sm m-1" value="search">
                </form>
                {% endif %}
                {% render_table table %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->



      </div>
      <!-- /.row -->

 {% include 'file/return_file_modal.html' %}
{% endblock content %}

{% block js %}
<script src="{% static 'return_actions/modal.js' %}"></script>
{% endblock %}