
{% load app_extras %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">

            {% if   record.stage == 'Reception' and  record.assigned_to == user %}
              {{ record.pk|get_actions_file }}
                <a class="btn btn-info btn-sm btn-block" href="{% url 'inspect'  record.pk%}">Open</a>
                {% if record.flagged %}
<a class="btn btn-block btn-sm" href="{% url 'file_details'  record.pk%}">View Details</a>
{% endif %}
            {% endif %}
                <div role="separator" class="dropdown-divider"></div>

{% if 'app.can_register_batch' in perms and record.file_created_by == user and record.stage == 'Registry'   %}
    {% if record.flagged %}
<a class="btn btn-block btn-sm" href="{% url 'file_details'  record.pk%}">View Details</a>
{% endif %}
    <a class="btn btn-info btn-sm btn-block" href="{% url 'view_docs_in_file'  record.pk%}">Open</a>
    <a class="btn btn-primary btn-block" href="{% url 'file_edit' record.pk %}">Edit</a>
    <a class="btn btn-danger btn-block" href="{% url 'file_delete' record.pk %}">Delete</a>

{% elif record.stage == 'Scanner' %}

    <a class="btn btn-primary btn-block" href="{% url 'upload_document'  record.pk %}">Scan</a>
                {% elif record.stage == 'Transcriber' %}

                <a class="btn btn-info btn-block" href="{% url 'get_files_from_storage' record.pk %}">Map Documents </a>
                 <a class="btn btn-warning btn-block" href="{% url 'batch_documents'  record.pk %}">Transcribe</a>



                {% endif %}

        </div>





