{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
    {#        no of uploaded documents#}
       <!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <a href="{% url 'home' %}"> <b>{{title1}}</b> &nbsp;{{title2}}</a>
  </div>
  <!-- User name -->


  <!-- START LOCK SCREEN ITEM -->
  <div class="lockscreen-item">
    <!-- lockscreen image -->
    <div class="lockscreen-image">
      <img src="{% static 'favicons/android-chrome-512x512.png' %}" alt="Icon image">
    </div>
    <!-- /.lockscreen-image -->

    <!-- lockscreen credentials (contains the form) -->
    <form class="lockscreen-credentials" method="post" action="{% url post_url %}">
        {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{placeholder}}" required="required" name="{{name_attribute}}">

        <div class="input-group-append">
          <button type="submit" class="btn"><i class="fas fa-arrow-right text-muted"></i></button>
        </div>
      </div>
    </form>
    <!-- /.lockscreen credentials -->

  </div>
  <!-- /.lockscreen-item -->
  <div class="help-block text-center">
    Enter the {{title1}} barcode you wish to retrieve
  </div>
  <div class="text-center">
      {% if not 'app.can_receive_file' in perms %}
    <a href="{% url 'list_document_files' %}">Or find all files assigned to you</a>
      {% endif %}
  </div>
  <div class="lockscreen-footer text-center">
  </div>
</div>
    </div>
<!-- /.center --
    </div>
{% endblock content %}