{% load app_extras %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
            {% if not  record.batch_type == 'PREPARE_DIGITIZATION_INTERMEDIARY' and not record.batch_type ==  'PREPARE_FLAGGING_INTERMEDIARY' %}
                {{ record.id|get_actions_batch }}
                <div role="separator" class="dropdown-divider"></div>
            {% endif %}
                {% if 'app.can_register_batch' in perms   or   'app.can_receive_file' in perms  %}
                     <a class="btn btn-info btn-block" href="{% url 'batch_files' record.id %}">Open to View Files </a>
                 {% endif %}
            {% if record.batch_type == 'PREPARE_DIGITIZATION'   and record.state != 'Closed' %}

                <a class="btn btn-primary btn-block" href="{% url 'batch_edit' record.id %}">Edit</a>
                <a class="btn btn-danger btn-block" href="{% url 'batch_delete' record.id %}">Delete</a>


            {% endif %}


{% if 'app.can_receive_file' in perms and record.state != 'Closed'   %}


        {% if record.batch_type == 'PREPARE_FLAGGING' %}


                <a class="btn btn-primary btn-block" href="{% url 'batch_edit' record.id %}">Edit</a>
                <a class="btn btn-danger btn-block" href="{% url 'batch_delete' record.id %}">Delete</a>
            {% endif %}


        {% endif %}



        </div>



