{% extends 'base.html' %}
{% load path_slugify %}
{% block css %}
    <style rel="stylesheet">
    .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
           background-color: rgba(224, 18, 25,0.4); // Choose your own color here
         }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
           <table class="table table-responsive-sm table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
        <th scope="col">*</th>
      <th scope="col">Folder</th>
      <th scope="col">Path</th>
      <th scope="col">Size</th>
      <th scope="col">Last Modified</th>
      <th scope="col">Open</th>
    </tr>
  </thead>
  <tbody>
  {% for folder in folders %}
      <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <th scope="row"><span class="fas fa-folder"></span></th>
      <td>{{ folder.name }}</td>
      <td>{{ folder.path }}</td>
      <td>{{ folder.size }}</td>
      <td>{{ folder.last_modified }}</td>
      <td><a href="{% url 'open_directory' folder.path %}" class="btn btn-default" ><span>Open</span></a></td>
        </tr>
    {% endfor %}
  <tr class="bg-gradient-lime">Files</tr>
   {% for file in files %}
      <tr>
      <th scope="row">{{ forloop.counter }}</th>
           <th scope="row"><span class="fas fa-file"></span></th>
      <td>{{ file.name }}</td>
      <td>{{ file.path }}</td>
      <td>{{ file.size }}</td>
      <td>{{ file.last_modified }}</td>
      <td><button class="btn btn-default preview" id="{{ file.path }}"><span class="fas fa-eye text-info"></span></button></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Select A Related Document</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="preview">

                <div class="row">


                     <div class="col-md-12" id="documentpdf">



                 </div>
                </div>



            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->

    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $('.preview').click(function(){
            let domain = getDomain()
            let id = $(this).attr('id');
            let index = id.indexOf("media");
            let uri = id.slice(index)
            uri = encodeURI(uri)
            let url = 'http://'+ domain  + '/' + uri;
            let pdf = "<embed id='pdf' src="+ url +"  width='100%' height='800'>";
            $('#documentpdf').empty()
            $('#documentpdf').append(pdf)
            $('#modal-lg').modal('show')
        })
    </script>
{% endblock %}