{% extends 'base.html' %}
{% load path_slugify %}
{% block css %}
    <style rel="stylesheet">
    .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
           background-color: rgba(224, 18, 25,0.4); // Choose your own color here
         }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
              <table class="table table-responsive-sm table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
        <th scope="row">*</th>
      <th scope="col">Folder</th>
      <th scope="col">Path</th>
      <th scope="col">Size</th>
      <th scope="col">Last Modified</th>
      <th scope="col">Open</th>
    </tr>
  </thead>
  <tbody>
  {% for folder in folders %}
      <tr>
      <th scope="row">{{ forloop.counter }}</th>
          <th scope="row"><span class="fas fa-folder"></span></th>
      <td>{{ folder.name }}</td>
      <td>{{ folder.path }}</td>
      <td>{{ folder.size }}</td>
      <td>{{ folder.last_modified }}</td>
          <td><a href="{% url 'open_directory' folder.path %}" class="btn btn-default"><span>Open</span></a></td>
          <td><button class="btn btn-warning">Clean Up</button></td>
          <td><button class="btn btn-dark">Split PDF</button></td>

        </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
{% endblock %}