{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}

  <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">

              <h3 class="card-title">Document Files Created</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                 {% if filter %}
                <form action="" method="get" class="form form-inline m-2">
                {{ filter.form | crispy }}
                    <input type="submit" class="btn btn-default btn-sm m-1" value="search">
                </form>
                {% endif %}
              {% render_table table %}
            </div>
            <!-- /.card-body -->
          </div>
        </div>
  </div>
 {% include 'file/return_file_modal.html' %}
{% endblock content %}

{% block js %}
<script src="{% static 'return_actions/modal.js' %}"></script>
{% endblock %}