{% extends 'base.html' %}
{% load static %}

        {% block css %}
 <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock css %}
{% block content %}
     <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">File Detail {{ file }}</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Current Stage</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ file.stage }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Current State</span>
                      <span class="info-box-number text-center text-muted mb-0">{{file.state}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Total documents</span>
                      <span class="info-box-number text-center text-muted mb-0">{{file.documentfiledetail_set.all.count}} </span>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Recent Activity</h4>
{% if user.is_superuser %}
                    {%  for modification in file.modification_set.all %}
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{modification.by.profile.image.url}}" alt="user image">
                        <span class="username bg-gradient-red">
                          <a href="{% url 'admin_check_user' modification.by.pk %}" class="text-white">{{modification.by.username}}</a>
                        </span>
                          <span class="username">
                          <a href="{% url 'admin_check_user' modification.by.pk %}">{{modification.by.profile.full_name}}</a>
                        </span>
                        <span class="description">{{ modification.created_at }}</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                       {{ modification.modified_from_stage }} -> {{ modification.modified_to_stage  }}
                      </p>


                    </div>
{% endfor %}
                {% endif %}

                </div>
              </div>
            </div>
            <div class="col-12 card col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary">{% if file.flagged %}
                  <i class="fas fa-exclamation-triangle text-danger "></i>
                  {% else %}
                  <i class="fas fa-check-square text-success"></i>
                  {% endif %}
                  {{file}}</h3>
{% if file.flagged %}
    <div class="card bg-gradient-danger">
    <div class="card-header">Reasons For Flagging</div>
        <div class="card-body text-center">
    {{ file.notification_set.all.last.comment | safe }}
        </div>
    </div>

            <br>
            {% endif %}
    {% if user.is_superuser or file.assigned_to == user %}

              <div class="user-block">
                  <h6 class="text-sm">Currently assigned to</h6>

                    {% if  file.assigned_to != None%}

                        <img class="img-circle img-bordered-sm" src="{{file.assigned_to.profile.image.url}}" alt="user image">

                        <a  href="{% url 'admin_check_user' file.assigned_to.pk %}" class="d-block h6 text-primary">  &emsp;{{file.assigned_to}}</a>
                        <a  href="{% url 'admin_check_user' file.assigned_to.pk %}" class="d-block h6 text-primary"> <b class="d-block text-indigo">&emsp;{{file.assigned_to.profile.full_name}}</b></a>
                        {% else %}
                  <b class="d-block">{{file.assigned_to}}</b>
                        {% endif %}
                </div>

                <p class="text-sm">Lastly updated at
                  <b class="d-block">{{ last_update }}</b>
                </p>

{% endif %}
              <div class="text-center mt-5 mb-3">
                  {% if user.is_superuser %}
                <button  type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-default">Assign to new user</button>
{% endif %}

              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->


    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Assign file user to file {{ file }}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'file_assign' file.pk %}" method="POST">
                {% csrf_token %}
              <div class="form-group">
                  <label>Select user</label>
             <select class="form-control select2" name="assigned_user" style="width: 100%;">
                 {% for user_obj in users %}
                    <option value="{{ user_obj.id }}">{{user_obj}}</option>
                 {% endfor %}

                  </select>
                </div>
                    <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit changes</button>
            </div>
                    </form>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
{% endblock %}
{% block js %}


<script src="{% static 'adminlte/plugins/select2/js/select2.full.min.js' %}">

</script>
    <script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
    })
    </script>
    {% endblock %}
