
{% if user.is_superuser %}
<a class="btn btn-default btn-sm" href="{% url 'file_details'  record.pk%}">Details</a>
{% endif %}
{% if 'app.can_register_batch' in perms and record.assigned_to == user and record.stage == 'Registry'   %}
    <a class="btn btn-warning btn-sm" href="{% url 'file_edit' record.pk %}">Edit</a>
    <a class="btn btn-primary btn-sm" href="{% url 'file_delete' record.pk %}">Delete</a>

{% elif record.stage == 'Scanner' and record.assigned_to == user %}

    <a class="btn btn-primary btn-sm" href="{% url 'upload_document'  record.pk %}">Scan</a>
                {% elif record.stage == 'Transcriber' and record.assigned_to == user %}

                <a class="btn btn-warning btn-sm" href="{% url 'get_files_from_storage' record.pk %}">Map Documents </a>
                 <a class="btn btn-primary btn-sm" href="{% url 'batch_documents'  record.pk %}">Transcribe</a>



                {% endif %}
            <a class="btn btn-info btn-sm" href="{% url 'view_docs_in_file'  record.pk%}">Open</a>