

{% if user.is_superuser   %}
    <a href="{% url 'file_details' record.pk %}"><strong>{{ record.file_reference }}</strong></a>
    {% else %}
    <span class="text-primary"><strong>{{ record.file_reference }}</strong></span>
{% endif %}


