
{% load app_extras %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">


              {{ record.pk|get_qa_buttons }}
                <div role="separator" class="dropdown-divider"></div>
                <a href="{% url 'open_qa_file' record.pk %}" class="btn btn-sm btn-info btn-block">Open</a>
                 <div role="separator" class="dropdown-divider"></div>
                <a class="btn btn-outline-warning btn-block" href="{% url 'view_docs_in_file'  record.pk%}"><span class="fas fa-edit"></span>Edit Documents</a>
            </div>





