*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}
.cover-img{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;;
    height: 100vh;
    width: 100%; 

}

.auth-form{
    align-items: flex-start;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 4em
}
.auth-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    color: #D12817;
    padding-top: .5em;
}
.auth-sub{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #528FCB;
    padding-bottom: 1.4em;

}
.welcome {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #979797;
}
.welcome-subtext{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #959494;

}