{% extends 'erro_base.html' %}
{% block erro_content %}
    <section class="login-box">



    <!-- Main content -->

    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning">403</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i>  Permission Denied</h3>

          <p>
            You don't have permissions to access this resourse.
            Meanwhile, you may <a href="{% url 'profile' %}">return to dashboard</a> or try using other links.
          </p>


        </div>
      </div>
      <!-- /.error-page -->

    </section>
    <!-- /.content -->

  </section>

{% endblock erro_content %}