{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Create A Document Type</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="" method="post">
                  {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        {{ form | crispy }}
                    </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="button" id="test-form" class="btn btn-default float-right">Test Form</button>

                </div>
              </form>
            </div>
            </div>

            <div class="col-md-6">
                    <div id="result" class="well">(please wait)</div>
            </div>
    </div>
{% endblock content %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jsv.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jsonform.js' %}"></script>
<script type="text/javascript">
         var generateForm = function () {
    var values = $('#editor_holder').jsonFormValue();

    // Reset result pane
    $('#result').html('');


    // Parse entered content as JavaScript
    // (mostly JSON but functions are possible)
    var createdForm = null;
    try {
      // Most examples should be written in pure JSON,
      // but playground is helpful to check behaviors too!
      {#eval('createdForm=' + values.greatform);#}
        console.log('trying to generate form')
    }
    catch (e) {
      $('#result').html('<pre>Entered content is not yet a valid' +
        ' JSON Form object.\n\nJavaScript parser returned:\n' +
        e + '</pre>');
      return;
    }

    // Render the resulting form, binding to onSubmitValid
    try {
        json = $('#editor_holder').val()
        json = JSON.parse(json)
      $('#result').html('<form id="result-form" class="form-vertical"></form>');
      $('#result-form').jsonForm(json);
    }
    catch (e) {
      $('#result').html('<pre>Entered content is not yet a valid' +
        ' JSON Form object.\n\nThe JSON Form library returned:\n' +
        e + '</pre>');
      return;
    }
  };

  // Render the form


 $('#test-form').click(function(event){
     event.preventDefault()
     generateForm()
      })
</script>
{% endblock %}