{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}

  <div class="row">
        <div class="col-12">
     <!-- START ACCORDION & CAROUSEL-->
        <h5 class="mt-4 mb-2">Check to Ensure all Documents are Available</h5>
            <div class="row ">

                <div class="col-md-5">


                         {% if file_state == 'Closed' %}
                             <button class="return btn btn-info "
                               id="{% url 'update_stage_file' file_pk 'Return to Reception' %}"  data-toggle="modal" data-target="#modal-lg">Return to Reception</button>

                        <a class="btn btn-info" href="{% url 'update_stage_file' file_pk 'Dispatch to Scanner' %}">Dispatch To Scanner</a>
                       {% endif %}


                    {% if file_state == 'Closed' %}
                        <a class="btn btn-info" href="{% url 'update_state_file' file_pk 'Open' %}">Open File</a>
                          {% elif file_state == 'Opened' %}
                       &emsp;<a href="{% url 'update_state_file' file_pk 'Close' %}" type="button" class="btn btn-info">Close File</a>
                          {% endif %}



                    <br>
                    <br>
                    <div class="progress progress-sm active" id="progress_bar">

                </div>
                </div>
                <div class="col-md-6 ">
<form class="lockscreen-credentials" id="barcode_form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Barcode" name="barcode" id="barcode">

        <div class="input-group-append">
          <button type="button" class="btn"><i class="fas fa-arrow-right text-muted"></i></button>
        </div>
      </div>
    </form>
                    <div class="help-block text-center">
    Enter/Scan document barcode you wish to check
  </div>

</div>
          <div class="col-md-3">




                </div>
            </div>
            <br>





        <div class="row">
          <div class="col-md-4">
            <div class="card ">
              <div class="card-header bg-success">
                <h3 class="card-title text-white">Documents in File</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div id="all_documents">
                  <!-- we are adding the .class so bootstrap.js collapse plugin detects it -->

                </div>
              </div>
            </div>
          </div>


            <!-- /.card -->

          <!-- /.col -->
         <div class="col-md-4">
            <div class="card">
              <div class="card-header bg-danger">
                <h3 class="card-title text-white">Missing in the System</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body ">
                <div id="missing_in_system" class="container">
                  <!-- we are adding the .class so bootstrap.js collapse plugin detects it -->




                </div>
              </div>
            </div>
          </div>
          <!-- /.col -->
            <div class="col-md-4">
            <div class="card">
              <div class="card-header bg-warning">
                <h3 class="card-title text-dark">Missing in the Physical File </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div id="missing_in_file">
                  <!-- we are adding the .class so bootstrap.js collapse plugin detects it -->


                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <!-- END ACCORDION & CAROUSEL-->

        </div>
  </div>


    {% include 'file/return_file_modal.html' %}
{% endblock content %}

{% block js %}
<script src="{% static 'return_actions/modal.js' %}"></script>

    <script>


   $(document).ready(function() {
        let all_documents = {{ document_barcodes | safe }};
        let file_documents=new Set();
        let missing_in_system = new Set()
        let missing_in_file = new Set()

        for (let barcode of all_documents){
            file_documents.add(barcode.toString())
            missing_in_file.add(barcode.toString())
        }


        console.log(file_documents)

       for (let document of file_documents)
            {
                $('#all_documents').append(itemContent(document))

            }

        appendToMissingInFile();
        appendToMissingInSystem();
        $('#summernote').summernote('code' ,upadtedRejectComment());
       console.log($('#summernote').text())
        $('#barcode_form').submit(function (event) {
            let barcode=$('#barcode').val();
            $('#barcode').val("")
            console.log(barcode)
        if (file_documents.has(barcode)) {
            if (missing_in_file.has(barcode)) {
                missing_in_file.delete(barcode);

                appendToMissingInFile()
            }
            else {
                alert('You already scanned this document')
            }



        }
        else {
           if (!missing_in_system.has(barcode)) {
               missing_in_system.add(barcode)

               appendToMissingInSystem()
           }
           else {
                alert('Already added as missing')
            }

        }

        $('#summernote').summernote('code' ,upadtedRejectComment());

        event.preventDefault()
        });
        function appendToMissingInSystem() {
            $('#missing_in_system').empty()
             for (let document of missing_in_system)
                {
                    $('#missing_in_system').append(itemContent(document))

                }
        }
        function appendToMissingInFile() {
            $('#missing_in_file').empty();
            modifyProgressBar()
            for (let document of missing_in_file)
            {

                $('#missing_in_file').append(itemContent(document))
            missing_in_file.size
            }
        }


        function modifyProgressBar() {
            let progress_num= (((file_documents.size - missing_in_file.size ) * 100) / file_documents.size)
            let progressbarContent=`
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                       aria-valuenow="`+progress_num+`" aria-valuemin="0" aria-valuemax="100" style="width:`+ progress_num + `%">
                    <span class="sr-only">`+progress_num+`% Complete</span>
                  </div>`

        $('#progress_bar').empty()
            $('#progress_bar').append(progressbarContent)
        }

        function itemContent(document) {
            return  `
            <div class="card card-primary">
                    <div class="card-header">
                      <h4 class="card-title">

                        <span class="text-primary h6">`
                          + document   +
                        `</span>

                      </h4>
                      <div class="card-tools"><span class="badge badge-success " ><i class="fas fa-check text-succes"></i>

</span></div>

                    </div>
                    </div>
            `

        }





function upadtedRejectComment() {

           let missing_in_file_title=`<h6>Documents missing in File</h6>`;
            let missing_in_system_title=`<h6>Documents missing in System</h6>`;
            let missing_in_file_barcodes_list=``;
        for(let doc_barcode of missing_in_file){

            missing_in_file_barcodes_list = missing_in_file_barcodes_list + `<li>` + doc_barcode + `</li>`
        }

        let missing_in_system_barcodes_list=``;
        for(let doc_barcode2 of missing_in_system){
            missing_in_system_barcodes_list = missing_in_system_barcodes_list + `<li>` + doc_barcode2 + `</li>`
        }

        return missing_in_file_title+
            `<ul>` + missing_in_file_barcodes_list + `</ul>`+
                missing_in_system_title +
            `<ul>`+ missing_in_system_barcodes_list + `</ul>`

}

    })


</script>
{% endblock %}