{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}

<link rel="stylesheet" href="{% static 'adminlte/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Guardian Information</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <div class="card-body">
              <form  method="POST" >
                    {% csrf_token %}
             {{ form |crispy }}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Save User</button>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
 </div>
{% endblock %}
{% block js %}
<script src="{% static 'adminlte/plugins/select2/js/select2.full.min.js' %}"></script>
    <script>
 $(function () {
    //Initialize Select2 Elements
    $('.select2').select2();

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
     })
    </script>
{% endblock %}