{% extends 'base.html' %}
{% load static %}
{% load app_extras %}
{% block content %}
    <div class="row">
           <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Document Types</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">*</th>
                      <th>Document Title</th>
                      <th>Type Description</th>
                      <th style="width: 40px">Preview</th>
                      <th style="width: 40px">Edit</th>
                      <th style="width: 40px">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if documents %}
                      {% for doc in documents %}
                    <tr>
                      <td></td>
                      <td>{{    doc.document_name }}</td>
                      <td>
                        {{ doc.document_description }}
                      </td>
                      <td><button href="" class="btn btn-primary preview" value="{{ doc.document_field_specs|clean_json }}"><span class="fa fa-eye"></span></button></td>
                       <td><a href="{% url 'edit_document_type' doc.pk %}" class="btn btn-primary"><span class="fa fa-edit"></span></a></td>
                      <td><a href="{% url 'delete_doc_type' doc.pk %}" class="btn btn-danger"><span class="fa fa-trash"></span></a></td>

                    </tr>
                      {% endfor %}
                  {% else %}
                      <tr>
                      <td></td>
                          <td><b>Not files In the System</b></td>
                      </tr>
                  {% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

              </div>
            </div>
            <!-- /.card -->
        </div>

    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Document Form Preview</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="preview">
                 <div id="result" class="well">(please wait)</div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jsv.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jsonform.js' %}"></script>
    <script>

    $('.preview').click(function(){
       let defaultSchema = $(this).val()

        generateForm(JSON.parse(defaultSchema))
        jQuery.noConflict()
        $('#modal-lg').modal('show');

    })


    function generateForm (json) {
        json = JSON.stringify(json)
        var newStr = json.substring(1, json.length-1)



    // Reset result pane
    $('#result').html('');


    // Parse entered content as JavaScript
    // (mostly JSON but functions are possible)
    var createdForm = null;
    try {
      // Most examples should be written in pure JSON,
      // but playground is helpful to check behaviors too!
      {#eval('createdForm=' + values.greatform);#}
        console.log('trying to generate form')
    }
    catch (e) {
      $('#result').html('<pre>Entered content is not yet a valid' +
        ' JSON Form object.\n\nJavaScript parser returned:\n' +
        e + '</pre>');
      return;
    }

    // Render the resulting form, binding to onSubmitValid
    try {
        newJsonStr = '{"schema":{'+newStr+'}}'
        form = JSON.parse(newJsonStr)
        console.log(form)
      $('#result').html('<form id="result-form" class="form-vertical"></form>');
      $('#result-form').jsonForm(form);
    }
    catch (e) {
      $('#result').html('<pre>Entered content is not yet a valid' +
        ' JSON Form object.\n\nThe JSON Form library returned:\n' +
        e + '</pre>');
      return;
    }
  };
    </script>
{% endblock %}