{% extends 'base.html' %}
{% load static %}
{% load get_guardian_filters %}
{% block css %}
<link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}
{% block content %}

         <div class="row">
        <div class="col-12">
    <div class="card">
           <div class="card-header">
                <h3 class="card-title">All users</h3>

                <div class="card-tools">
                    <a href="{% url 'users.create.elderly' %}" class="btn btn-primary">Add Guardian</a>
                </div>
              </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Group</th>
                    <th>Gurdian</th>
                  <th>Active</th>

                    <th style="width:200px; min-width:200px;" class="text-center text-danger"><i class="fa fa-bolt"> </i></th>
                </tr>
                </thead>
                <tbody>
            {% for obj in object_list %}
                <tr>
                <td>{{ obj.id }}</td>
                    <td><a href="">{{ obj.username }}</a></td>
{#{% url 'admin_check_user' obj.id %}#}
                <td>{{ obj.email }}</td>
                <td>
                    {% for group in obj.groups.all %}
                        <span class="badge badge-info">{{ group.name }}</span>
                        {% endfor %}
                        </td>
                 <td>


                         {% if True %}
                        <a href=""> <span class="badge badge-info">{{obj.pk | get_guardian}}</span></a>
                        {% else %}
                     <a href="#"> <span class="badge badge-info">Add {{obj.pk | get_guardian}}</span></a>
                     {% endif %}

                    </td>
                <td>
                    {% if obj.is_active %}
                    <span class="badge badge-success">{{obj.is_active }}</span>
                    {% else %}
                    <span class="badge badge-danger">{{obj.is_active }}</span>
                    {% endif %}

                    </td>

                <td>
                    <a href="#">

                                        <button class="btn btn-primary btn-sm  " type="button">
                                            Allocate
                                        </button>
                                    </a>

                                    <a href="{% url 'user.update' obj.id %}">
                                        <button class="btn btn-info btn-sm  " type="button">
                                            <span class="fa fa-pencil-alt"></span>
                                        </button>
                                    </a>



                                    <a href="{% url 'user.delete' obj.id %}"><button class="btn btn-danger btn-sm   btnDelete"
                                            type="button">
                                        <span class="fa fa-trash-alt"></span>
                </button></a>


                                </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                 <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Roles</th>
                    <th>Gurdian</th>
                  <th>Active</th>

                    <th style="width:200px; min-width:200px;" class="text-center text-danger"><i class="fa fa-bolt"> </i></th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{% endblock %}

{% block js %}
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>

 <script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}