{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
  <title>Elderly Funds</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">

    <link rel="stylesheet" href="{% static 'adminlte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
</head>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-xl-7 d-none d-md-block p-0">
                <div class="cover-img" style="background-image:url('/static/auth.jpg');">

                </div>
    </div>
    <div class="col-xl-5 px-md-5">
         <!-- /.login-logo -->
  <div class="auth-form">

      <form action="{% url 'login' %}" method="post" >
      <div>
        <img src="{% static 'coat_of_arms.svg' %}" alt="Kenya">
        <img src="{% static 'immigration.svg' %}" alt="Immigration Logo">
    </div>
    <h1 class="auth-title">Elders Funds</h1>
    <p class="auth-sub"> ELders Management System</p>
    <h4 class="welcome">Welcome</h4>
    <p class="welcome-subtext">Enter details to sign in</p>
    {% csrf_token %}
{{ form|crispy }}
          {% if form.errors %}
<p>Forgot your login credentials? <a href="{% url 'reset_default_password' %}">
  Reset to default password
</a></p>
{% endif %}
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->

      </form>


    </div>
    <!-- /.login-card-body -->
</div>

</div>
</div>
<!-- jQuery -->
<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/toastr/toastr.min.js' %}"></script>
{% if messages %}
            {% for message in messages %}
                <script>
               $(function() {

        var msgtype = "{{ message.tags }}"
        var message= "{{ message }}"

    if (msgtype==='success') {
        toastr.success(message)
    }
      if (msgtype==='warning') {
        toastr.warning(message)
    }
        if (msgtype==='error') {
        toastr.error(message)
    }
          if (msgtype==='info') {
        toastr.info(message)
    }
      });
                </script>

            {% endfor %}
          {% endif %}

</body>
</html>
