{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Amount to Disburse</div>
                    <div class="card-body">


               <form method="post" action="{% url 'set_max_assignable' %}">
                   {% csrf_token %}
                 <div class="form-group">
                    <label class="col-form-label" for="inputSuccess"><i class="fas fa-check"></i>
                     Amount in Numbers</label>
                    <input type="number" value="{{ max_val }}" name="max_value" class="form-control is-valid" id="inputSuccess" placeholder="Enter ..." required="required">
                  </div>
            <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            Update
          </button>
        </div>
</form>
 </div>
            </div>
        </div>
  </div>
{% endblock %}