{% extends 'base.html' %}
{% load static %}
{% include 'app/viewerjs/index.html' %}
{% load crispy_forms_tags %}
{% block content %}

   <div class="row" style="min-height: 100px;" >
      <div class="col-md-12 col-sm-12 col-12">
            <div class="info-box bg-dark">
              <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Documents Mapped</span>
                <span class="info-box-number" id="statistics"></span>

                <div class="progress">
                  <div class="progress-bar" style="width: 0%"></div>
                </div>
                <span class="progress-description" id="list">
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
    </div>
    <div class="row">

        <div class="col-md-8" id="renderer" style="height:800px;overflow: auto; width:800px;">
            <div id="pdf"></div>
        </div>
    <div class="col-md-4">
        <div class="row">
               <p class="text-justify m-1" id="page">Page 1</p>
        </div>
            <div class="row">
                <button class="btn btn-default m-2" id="left"><i class="fa fa-undo"></i></button>
            <button class="btn btn-default m-2" id="right"><i class="fa fa-redo"></i></button>
            <button class="btn btn-info m-2" id="plus"><i class="fa fa-search-plus"></i></button>
            <button class="btn btn-info m-2" id="minus"><i class="fa fa-search-minus"></i></button>
            <button class="btn bg-gradient-warning m-2" id="search">File Explorer</button>
            </div>


         <div class="row m-2">
                <button id="previous" class="btn btn-info m-1">Previous Document</button>

                <button id="next" class="btn bg-gradient-fuchsia m-1">Next Document</button>

         </div>
{#        search its barcode here#}
{#        select the document type here#}
{#        if not empty, proceed to transcibe#}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Document MetaData</h4>
            </div>
            <div class="card-body">
                     <div class="form-group">
                        <label>Select Document Type</label>
                        <select id="documenttype" class="form-control">

                        </select>

                         <div class="form-group">
                        <label>Barcode</label>
                        <select id="barcode" class="form-control">
                        </select>
                      </div>
                         <div class="form-group">
                             <button id="updatedoc" class="btn btn-default bg-gradient-gray-dark">Update Document</button>
                         </div>
                      </div>

              </div>
              <!-- /.card-body -->

            </div>
            <!-- /.card -->

        <div class="card bg-gradient-lime">
            <div class="card-header">
                <h4 class="card-title">Combine PDFS</h4>
            </div>
            <div class="card-body">
                <ul class="list-group" id="combinedPdfs">

                </ul>
                <button class="btn btn-default" id="previewMerge">Preview New PDF</button>
              </div>
              <!-- /.card-body -->

            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                 <h4 class="text-justify m-1" id="modalPage">P</h4>
              <h4 class="modal-title">Select A Related Document</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

            </div>
            <div class="modal-body" id="preview">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" id="previousmodal">Previous</button>



                <button class="btn btn-secondary float-right" id="nextmodal">Next</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-block btn-danger align-self-center m-2" id="copylink">Copy Link</button>
                    </div>
                </div>
                <div class="row">


                     <div class="col-md-12" id="documentpdf">



                 </div>
                </div>



            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>


{#    preview pdfs modal#}
    <div class="modal fade bg-lime" id="modal-lg-preview">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Documents Will be Merged As Shown</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="preview">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-block btn-danger align-self-center m-2" id="copylink">Copy Link</button>
                    </div>
                </div>
                <div class="row">


                     <div class="col-md-12" id="previewMergedPdf">


                 </div>
                </div>



            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'jquery.popSelectOptions.js' %}"></script>
    <script>
        var document_type = '';
        var document = '';
        var domain = getDomain()
        var rotation = 0;
        var scale = 1;

         $(function(){
             let scannedDocuments = {{ scanned_documents | safe }};
             console.log(scannedDocuments)
             let barcodeDocuments = {{ digital_documents | safe }};
             let document_types = {{ document_type | safe }};
             {#let domain = {{ domain | safe }}#}
             let doctypes = []
             let matched = [];
             var relatedPdfs = [];
             let page = 0;
             let modalpage = 0;
             let pageText = "page <block>" + page +"</block>";
             let modalPageText = "<block> P" + modalpage +"</block>";
             let statistics = matched.length + " of " + scannedDocuments.length;
             let list = scannedDocuments.length - matched.length + " more to go";
             let count = 0;
             let uri = "http://" +domain+ "/media/" + scannedDocuments[count].filepond + "#toolbar=0";
             let index = 0;
             let uri_modal = "http://" +domain+ "/media/" + scannedDocuments[index].filepond + "#toolbar=0";
             $('#documentpdf').append("<embed id='pdf' src=" + uri_modal +"  width= '100%' height= '800'>")
             $('#pdf').append("<embed id='pdf' src=" + uri +"  width= '100%' height= '800'>");
             $('#statistics').html(statistics);
             $('#list').html(list);
             $('#page').html(pageText);

             function initRender(){
                 console.log(document_types)
                    for(let i = 0; i < document_types.length; i++){
                        let value = i;
                        let label = document_types[i].document_name;
                        let dict = {'value':value, 'label':label};
                        doctypes.push(dict)
                     }

                    $('#barcode').popSelectOptions({
                        'options': barcodeDocuments
                    });
                    $('#documenttype').popSelectOptions({
                    'options': doctypes
                    });

                    $('#barcode').select2();
                    $('#documenttype').select2();
             }

             initRender()



             $('#states').append("<div class='progress'>\n" +
            "  <div class='progress-bar progress-bar-striped' role='progressbar' style='width:30%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100'></div>\n" +
            "</div>\n");

            $('#barcode').change(function(){
                document_id = $('#barcode option:selected').val();
            });
            $('#documenttype').change(function(){
                document_type = $('#barcode option:selected').val()
            });

        $('#left').click(function(){

            if ( $('#pdf').length ){
                rotation = rotation - 90;
                if(rotation <= -360){
                    rotation = 0
                }
                console.log(rotation)
                  $('#pdf').css({
                    '-moz-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-webkit-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-o-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-ms-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    'transform':'rotate('+ rotation +'deg) scale('+ scale +')'
                    });

                }else{
                console.log('could not find item')
            }
        })
             $('#right').click(function(){

                rotation = rotation + 90;
                if(rotation >= 360){
                    rotation = 0
                }
                  $('#pdf').css({
                    '-moz-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-webkit-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-o-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    '-ms-transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    'transform':'rotate('+ rotation +'deg) scale('+ scale +')',
                    });
             })
             $('#plus').click(function(){
                 scale = scale + 1;
                if(scale >= 5){
                    scale = 1
                }
                  $('#pdf').css({
                    '-moz-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-webkit-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-o-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-ms-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    'transform':'scale('+ scale +') rotate('+ rotation +'deg)',

                    });
             })
             $('#minus').click(function(){
                    scale = scale - 1;
                if(scale <= 5){
                    scale = 1
                }
                  $('#pdf').css({
                    '-moz-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-webkit-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-o-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    '-ms-transform':'scale('+ scale +') rotate('+ rotation +'deg)',
                    'transform':'scale('+ scale +') rotate('+ rotation +'deg)'
                    });
             })

        $('#previous').click(function(){
            if(page > 1){
                if(count !== 0){
                    count = count -1
                }
                page = page -1
            }
            let pageText = "page <block>" + page +"</block>";
            let uri = "http://" + domain + "/media/"+ scannedDocuments[count].filepond + "#toolbar=0";
            let url = encodeURI(uri);
            $('#page').html(pageText);
            $('#pdf').empty();
            $('#pdf').append("<embed id='file' src= "+ uri +" width= '100%' height= '800' >")
        });

        $('#next').click(function(){

             if(page < scannedDocuments.length){
                 page = page + 1
                 if(count < scannedDocuments.length - 1){
                     count = count + 1
                 }
             }
             let pageText = "page <block>" + page +"</block>";
             let uri = "http://" + domain + "/media/" + scannedDocuments[count].filepond + "#toolbar=0";
             let url = encodeURI(uri);
            $('#page').html(pageText);
            $('#pdf').empty();
            $('#pdf').append("<embed id='pdf' src= "+ uri +" width= '100%' height= '800'>")
        });

        $('#previousmodal').click(function(){

            if(modalpage > 0){
                modalpage = modalpage - 1
            }else {
                modalpage = 0
            }
            console.log(modalpage)
            let uri = "http://" + domain + "/media/"+ scannedDocuments[modalpage].filepond + "#toolbar=0";
            let url = encodeURI(uri);
             let pageText = "<block> P" + modalpage +"</block>";
            $('#modalPage').html(pageText);
            $('#documentpdf').empty();
            $('#documentpdf').append("<embed id='file' src= "+ uri +" width= '100%' height= '800' >")
        });

        $('#nextmodal').click(function(){

                if (modalpage < scannedDocuments.length) {
                        modalpage = modalpage + 1
                }
             console.log(modalpage)

             let uri = "http://" + domain + "/media/" + scannedDocuments[modalpage].filepond + "#toolbar=0";
             let url = encodeURI(uri);
              let pageText = "<block> P" + modalpage +"</block>";
            $('#modalPage').html(pageText);
            $('#documentpdf').empty();
            $('#documentpdf').append("<embed id='pdf' src= "+ uri +" width= '100%' height= '800'>");

        });
        $('#deleteMap').click(function(){
            console.log('deleting')
            let id = $this.attr('id')
            let index = relatedPdfs.indexOf(id)
            relatedPdfs.splice(index, 1)
        });

        $('#previewMerge').click(function(){

            let largeModal = []
            for(let item in relatedPdfs){
                console.log(item)
                let uri = "http://" + domain + "/media/" + relatedPdfs[item] + "#toolbar=0";
                let pdf = "<div class='row'><embed id='pdf' src= "+ uri +" width= '100%' height= '800'></div>"
                largeModal.push(pdf)
            }
            $("#modal-lg-preview").modal('show')
            $("#previewMergedPdf").append(largeModal)

        })


        $('#copylink').click(function(){
            relatedPdfs.push(scannedDocuments[modalpage].filepond)
            console.log(typeof(scannedDocuments[modalpage].filepond))
            {#remove already selected document#}
            {#remove already selected document#}
            {#scannedDocuments.splice(modalpage, 1)#}
            Swal.fire({
                      toast: true,
                       type:'success',
                       title: 'Document Selected',
                       text: 'Document Selected For Merger',
                      position: 'top-end',
                      showConfirmButton: false,
                      timer: 1000,

                    });
            $('#combinedPdfs').append("<button class='list-group-item mb-1 fClick'>"+ scannedDocuments[index].filepond + "</button>")
        });

             $(document).on('click','.fClick',function(){
                 console.log(relatedPdfs.length)
                 let item = $(this).text()
                 let index = relatedPdfs.indexOf(item)
                 relatedPdfs.splice(index, 1)
                 $('#combinedPdfs').empty()
                 {#rerender the list#}
                 console.log(relatedPdfs.length)
                 for(let pdf in relatedPdfs){
                     $('#combinedPdfs').append("<button class='list-group-item mb-1 fClick btn-danger'>"+ relatedPdfs[pdf] + "</button>")
                 }
                 $("#previewMergedPdf").empty();
             })


        $('#updatedoc').click(function(){
            let document_id = $('#barcode option:selected').val();

            let data = {
                related : relatedPdfs.toString(),
                document_path: scannedDocuments[count].filepond,
                document_type: $('#documenttype option:selected').text()

            };

            matched.push(data)
            console.log(data)
            let urlMask = "{% url 'update_document_file_detail' 87 %}".replace(/87/, document_id.toString());
           $.ajax({
              type: "POST",
              url: urlMask,
              data: data,
              success: function(response){
                   Swal.fire({
                      toast: true,
                       type:'success',
                       title: 'Success',
                       text: 'Document Mapped',
                      position: 'top-end',
                      showConfirmButton: false,
                      timer: 1000,

                    });
                   scannedDocuments.splice(count, 1);
                   let counterPercentile = Math.round(matched.length / scannedDocuments.length * 100);
                  $('.progress-bar').css('width', counterPercentile + "%");
                  let statistics = 0
                  if(matched.length < scannedDocuments.length){
                      statistics = matched.length + " of " + scannedDocuments.length;
                  }

                  $('#statistics').html(statistics);
                   let list = scannedDocuments.length - matched.length + " more to go";
                    $('#list').html(list);
              },
               error: function(error){
                      Swal.fire({
                      toast: true,
                          type:'error',
                       title: 'Error',
                       text: 'Failed To Map Document',
                      position: 'top-end',
                      showConfirmButton: false,
                      timer: 1000,

                    });
               },
              dataType: 'json'
            });
        })

    })
             $('#search').click(function(){
            $('#modal-lg').modal('show');
    })
    </script>


{% endblock %}