{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load app_extras %}
{% block css %}
    <link rel="stylesheet" href="{% static 'filepond.css' %}">
{% endblock %}
{% block content %}

{#    upload a document belonging to a give file#}
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Upload Scanned Documents To {{ file.file_reference }}</h4>
                </div>
                <div class="card-body">
                    <input type="file"
                    class="filepond" name="filepond" multiple data-allow-reorder="true">
                </div>
            </div>
        </div>

        <div class="col-md-6">
             <div class="row">
{#                 <a href=" {%  url 'upload_document' file.pk %}" class="btn btn-sm btn-default bg-gradient-yellow m-2 float-right">Update File Status</a>#}
                </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Documents</h3>
                  <div class="card-tools">
                    {% if file.stage == 'Scanner' %}
                         {{ file.pk|dispatch_to_transcriber }}
                      {% else %}
                        <p class="text-warning">Premature Scanning of File</p>
                      {% endif %}

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Page</th>
                      <th>Preview</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for document in documents %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                          <button class="btn btn-sm preview" id="{{ document.filepond.url }}" ><span class="fas fa-eye"></span></button>
                      </td>
                      <td><a href="{% url 'delete_pdf' document.id %}" class="btn btn-sm"><span class="fas fa-trash text-danger"></span></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

            </div>
        </div>
     <div class="modal fade " id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content bg-gradient-navy">
            <div class="modal-header">
              <h4 class="modal-title">Document Preview</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="preview">
                <div class="row">

                     <div class="col-md-12" id="documentpdf">

                 </div>

{#                <embed id="pdf" src=""  width= "100%" height= "800">#}
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
{% endblock content %}

{% block js %}
     <script src="{% static 'filepond.min.js' %}"></script>

    <script src="{% static 'filepond.jquery.js' %}"></script>
      <script>
      FilePond.registerPlugin(FilePondPluginFileValidateSize);
      FilePond.registerPlugin(FilePondPluginFileValidateType);
      FilePond.parse(document.body);
      FilePond.setOptions({
          server: {
              url:"{% url 'upload_document' file.pk %}",
              process:{
                  headers: {
                      'X-CSRF-TOKEN': '{{ csrf_token }}'
                  }
              }
          }
      })

     $('.filepond').filepond({
        allowMultiple: true,
         maxFileSize:'500MB',
         acceptedFileTypes:['application/pdf'],
    });
      $('.filepond').on('FilePond:processfiles', function(e) {
            location.reload();
      });

  {#image preview code#}
   $('.preview').click(function(){
       var domain = getDomain()
       let id = $(this).attr('id')
       console.log(id)
        {#$('#pdf').attr('src', id)#}
         let uri = "http://" + domain + id + "#toolbar=0";
         let url = encodeURI(uri);
        $('#documentpdf').empty();
        $('#documentpdf').append("<embed id='pdf' src= "+ uri +" width= '100%' height= '800'>")
       $('#modal-lg').modal('show')

   }
   )
      $('#modal-lg').on('hidden.bs.modal', function () {
       location.reload()
          {#end of image preview code#}
});



  </script>
{% endblock%}