{% extends 'base.html' %}
{% load static %}
{% load app_extras %}
{% block content %}
    <div class="row">
    <div class="col-md-6">
         <div id="pdf"></div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>{{ type }}</h4>
            </div>
            <div class="card-body">
                {{ table_data|safe }}
            </div>
        </div>
    </div>
    </div>


      </div>
{% endblock content %}
{% block js %}



 <script>
 $(function(){
     let documentPath = '{{ document.document_file_path|safe }}';
     var domain = getDomain()
    let uri = "http://" + domain+ "/media/" + documentPath + "#toolbar=0";
             let url = encodeURI(uri);
             $('#pdf').append("<embed id='pdf' src=" + url +"  width= '100%' height= '800'>");

     function load_data(){
        let documentPath = '{{ document.document_file_path|safe }}'
        var domain = getDomain()
        console.log(documentPath)
        let url = 'http://'+ domain + '/media/' + documentPath
        $('#pdf').attr('src', url)
     }



 })
    </script>




{% endblock %}
 {% include 'file/return_file_modal.html' %}
