{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Documents For this file</h3>

{#                <div class="card-tools">#}
{#                   <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-lg">Create Report</button>#}
{#               </div>#}
            </div>
            <!-- /.card-header -->


                {% if filter %}
                <form action="" method="get" class="form form-inline m-2">
{#                    {% bootstrap_form filter.form layout='inline' %}#}
{#                    {% bootstrap_button 'Search' %}#}
                {{ filter.form|crispy }}
                </form>
                {% endif %}


              {% render_table table %}
            </div>
            <!-- /.card-body -->
          </div>
        </div>
  </div>

<div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Provide return reasons</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'chat' %}"  method="GET" id="returnform">
                    <div class="form-group">
                      <textarea id="summernote" name="reasons" class="form-control"></textarea>
                    </div>

            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-warning">Return</button>
            </div>
               </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


      </div>


{% endblock content %}

{% block js %}

{% endblock %}