{% extends 'base.html' %}
{% load static %}
{% load app_extras %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}

         <div class="row">
        <div class="col-12">
    <div class="card">
           <div class="card-header">
                <h3 class="card-title">Files for this batch</h3>
               <div class="card-tools">
                   <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-lg">Create Report</button>
               </div>
              </div>
            <!-- /.card-header -->
            <div class="card-body">
            <div class="row" id="action_row" style="display: none">
                <div class="col-md-4">

                </div>
            </div>

                {% if filter %}
                <form action="" method="get" class="form form-inline m-2">
                {{ filter.form | crispy }}
                    <input type="submit" class="btn btn-default btn-sm m-1" value="search">
                </form>
                {% endif %}
                {% render_table table %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Provide return reasons</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'chat' %}"  method="GET" id="returnform">
                    <div class="form-group">
                      <textarea id="summernote" name="reasons" class="form-control"></textarea>
                    </div>

            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-warning">Return</button>
            </div>
               </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


         </div>

{% endblock content %}

{% block js %}
<script src="{% static 'return_actions/modal.js' %}"></script>
{% endblock %}