

{% load app_extras %}
<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu">
                <div role="separator" class="dropdown-divider"></div>
                <a class="btn btn-success btn-block" href="{% url 'admin_check_user' record.pk %}">View Details</a>
                {% if user_type == 2 %}
                <a class="btn btn-block btn-outline-danger" href="{% url 'mark_as_dead' record.pk %}">Mark as Dead</a>
                {% endif %}
            {% if user_type == 2 %}
                <a class="btn btn-block btn-outline-primary" href="{% url 'dispatch_to_one' record.pk %}">Dispatch Fund</a>
            {% endif %}
             {% if user_type != 4 %}
    <a class="btn btn-primary btn-block" href="{% url 'user.update' record.pk %}">Edit</a>

                <a class="btn btn-danger btn-block" href="{% url 'user.delete' record.pk %}">Delete</a>
            {% endif %}

        </div>