{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load user_performance_filters %}
{%  block css %}

{% endblock %}
{% block content %}
            <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{ user_obj.profile.image.url }}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ user_obj.username}}</h3>

                <p class="text-muted text-center">{{ user_obj.email }}</p>

                     <p class="text-muted text-center">Guardian(s)</p>
                <ul class="list-group list-group-unbordered mb-3">

                    {% for user_oj in user_obj|get_guardians %}
                    <li class="list-group-item">
                    <a href="{% url 'admin_check_user' user_oj.pk %}"><b>{{ user_oj.profile.full_name }}</b></a>
                        {% endfor %}
                  </li>

                </ul>

              <a href="{% url 'create_guardian' user_obj.pk %}" class="btn btn-info btn-block"><b>Add Guardian</b></a>
{% if user_obj.is_active %}
                <a href="{% url 'users.activate_deactivate' user_obj.pk %}" class="btn btn-danger btn-block"><b>Deactivate</b></a>
  {% else %}
 <a href="{% url 'users.activate_deactivate' user_obj.pk %}" class="btn btn-success btn-block"><b>Activate</b></a>
{% endif %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About User</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

              <strong><i class="far fa-file-alt mr-1"></i> Username</strong>

                <p class="text-muted">{{ user_obj.username }}</p>

                <strong><i class="fas fa-book mr-1"></i> Group</strong>

                <p class="text-muted">
                    {% for group in user_obj.groups.all%}
                        <span class="tag tag-success">{{ group }}</span>

                    {% endfor %}
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> ID NO</strong>

                <p class="text-muted">{{user_obj.profile.id_no}}</p>

                <hr>

                <strong><i class="fas fa-phone mr-1"></i> Phone</strong>

                <p class="text-muted">
                  {{ user_obj.profile.phone }}
                </p>

                <hr>


              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#personal_info" data-toggle="tab">Personal Info</a></li>
                  <li class="nav-item"><a class="nav-link" href="#update_info" data-toggle="tab">Update Info</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="personal_info">

              <strong><i class="far fa-file-alt mr-1"></i> Username</strong>

                <p class="text-muted">{{ user_obj.username }}</p>

                <strong><i class="fas fa-book mr-1"></i> Group</strong>

                <p class="text-muted">
                    {% for group in user_obj.groups.all%}
                        <span class="tag tag-success">{{ group }}</span>

                    {% endfor %}
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> ID NO</strong>

                <p class="text-muted">{{user_obj.profile.id_no}}</p>

                <hr>

                <strong><i class="fas fa-phone mr-1"></i> Phone</strong>

                <p class="text-muted">
                  {{ user_obj.profile.phone }}
                </p>

                <hr>
                  </div>
                  <!-- /.tab-pane -->

                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="update_info">

                      <form class="form-horizontal" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

{% endblock %}


